SYSTEM_V2_n8n_workflows_JSON/workflows/WF3_AI_Lead_Qualification.json
{
  "name": "WF3 — AI Lead Qualification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "6a09af7c-362c-4409-9a8e-a2c33befddcc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1080,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs?select=id,partner_id,target_id,payload&status=eq.queued&job_type=eq.qualify_lead&limit=10'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "eec394cb-757e-44bb-bb83-1a61701c9560",
      "name": "Fetch Queued Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return (Array.isArray($json.body) ? $json.body : []).map(j => j);"
      },
      "id": "f0be18b4-0684-48a8-9232-81fd29239cb7",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs?id=eq.' + $json.id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status:'running'} }}"
      },
      "id": "8e21e4c6-dd9c-483e-9765-6540e2559c80",
      "name": "Mark Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?select=*&id=eq.' + $json.target_id + '&limit=1'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "0e1554a9-7910-49c4-8cd2-f9c7df8511f3",
      "name": "Fetch Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = Array.isArray($json.body) ? $json.body[0] : $json.body?.[0];\nconst prompt = `Ты AI qualifier SYSTEM V2. Верни JSON с keys: score, temperature, next_action, summary. Lead: ${JSON.stringify(lead)}`;\nreturn [{ job_id: $('Split Jobs').item.json.id, lead_id: lead.id, partner_id: lead.partner_id, prompt }];"
      },
      "id": "a9ab72fa-53ee-46ec-b41d-71c885eb6157",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENAI_BASE_URL || 'https://api.openai.com/v1/chat/completions'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {model: $env.OPENAI_MODEL || 'gpt-4.1-mini', response_format:{type:'json_object'}, messages:[{role:'system', content:'Return only valid JSON.'},{role:'user', content:$json.prompt}] } }}"
      },
      "id": "98a77da3-9458-4e42-9d07-27ef4e1b2069",
      "name": "OpenAI Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body?.choices?.[0]?.message?.content || '{}';\nconst parsed = JSON.parse(raw);\nreturn [{ job_id:$('Build Prompt').item.json.job_id, lead_id:$('Build Prompt').item.json.lead_id, partner_id:$('Build Prompt').item.json.partner_id, ...parsed, raw }];"
      },
      "id": "1231900b-ad9d-4779-b5c6-4ede3feedd17",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?id=eq.' + $json.lead_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {score:$json.score, status:'qualified'} }}"
      },
      "id": "8b6e46b2-f694-4f83-967c-4ea2c13c3391",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_recommendations'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$json.partner_id, target_type:'lead', target_id:$json.lead_id, recommendation_type:'qualification', recommendation_payload:{temperature:$json.temperature, next_action:$json.next_action, summary:$json.summary}, confidence:0.8} }}"
      },
      "id": "46f870c2-3428-4e81-8738-db5c78f91a2b",
      "name": "Insert Recommendation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_job_runs'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {job_id:$json.job_id, status:'succeeded', input:{lead_id:$json.lead_id}, output:{score:$json.score, temperature:$json.temperature, next_action:$json.next_action, summary:$json.summary}} }}"
      },
      "id": "642771fd-e84e-49ad-9fbb-bf785598e501",
      "name": "Insert Job Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs?id=eq.' + $json.job_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status:'succeeded'} }}"
      },
      "id": "9c0c896c-6873-4cdd-b905-13e261dd1cbf",
      "name": "Complete Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Queued Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Queued Jobs": {
      "main": [
        [
          {
            "node": "Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs": {
      "main": [
        [
          {
            "node": "Mark Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Running": {
      "main": [
        [
          {
            "node": "Fetch Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lead": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Qualification": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Insert Job Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Recommendation": {
      "main": [
        [
          {
            "node": "Insert Job Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Job Run": {
      "main": [
        [
          {
            "node": "Complete Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "a5372c4b-2d04-4d72-8c3c-8eb0d26a9f48"
}