SYSTEM_V2_n8n_workflows_JSON/workflows/WF6_AI_Reply_Draft.json
{
  "name": "WF6 — AI Reply Draft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "a2024082-9184-498a-adf3-bbdb2a14a2d2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs?select=id,partner_id,target_id&status=eq.queued&job_type=eq.generate_reply&limit=10'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "adc3701a-c907-4e64-a4b2-0ba25ab62ba8",
      "name": "Fetch Reply Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return (Array.isArray($json.body)?$json.body:[]).map(j => j);"
      },
      "id": "06fe27b4-87e1-4855-97ff-e7eb74269670",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/inbound_messages?select=*&id=eq.' + $json.target_id + '&limit=1'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "902d53b3-e2f7-44bf-8eda-f791e4ecef39",
      "name": "Fetch Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const m = Array.isArray($json.body)?$json.body[0]:$json.body?.[0]; return [{job_id:$('Split Jobs').item.json.id, partner_id:m.partner_id, target_id:m.id, prompt:`Draft a concise helpful reply in Russian. Incoming: ${m.body}`}] ;"
      },
      "id": "dc64bd4d-229c-4465-828f-ac46b4d5e571",
      "name": "Build Reply Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENAI_BASE_URL || 'https://api.openai.com/v1/chat/completions'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {model:$env.OPENAI_MODEL || 'gpt-4.1-mini', messages:[{role:'system', content:'Return reply text only.'},{role:'user', content:$json.prompt}] } }}"
      },
      "id": "1b3cdbdd-5b90-45c8-acc6-9ae1eebf9362",
      "name": "OpenAI Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{job_id:$('Build Reply Prompt').item.json.job_id, partner_id:$('Build Reply Prompt').item.json.partner_id, target_id:$('Build Reply Prompt').item.json.target_id, draft:$json.body?.choices?.[0]?.message?.content || ''}];"
      },
      "id": "29e4e0d5-fa65-4206-9159-0e3ead582b62",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_recommendations'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$json.partner_id, target_type:'inbound_message', target_id:$json.target_id, recommendation_type:'reply_draft', recommendation_payload:{draft:$json.draft}, confidence:0.7} }}"
      },
      "id": "ba55cdb4-7dc8-4fb8-94c2-1443f0889565",
      "name": "Save Recommendation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs?id=eq.' + $json.job_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status:'succeeded'} }}"
      },
      "id": "f0ed15bc-4604-4873-a489-226e1b27f40d",
      "name": "Mark Job Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Reply Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reply Jobs": {
      "main": [
        [
          {
            "node": "Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jobs": {
      "main": [
        [
          {
            "node": "Fetch Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Message": {
      "main": [
        [
          {
            "node": "Build Reply Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reply Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Draft": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Save Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Recommendation": {
      "main": [
        [
          {
            "node": "Mark Job Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "e7aa6285-4d7d-4baa-b267-4d3983e64949"
}