SYSTEM_V2_n8n_workflows_JSON/workflows/WF7_Lead_to_Contact_Conversion.json
{
  "name": "WF7 — Lead to Contact Conversion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "system-v2/lead-convert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "891735a6-a390-461a-8378-4ec0eee79a3d",
      "name": "Webhook Convert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body??$json; return [{lead_id:b.lead_id}];"
      },
      "id": "78f29b48-4dbe-45d7-b9db-71523e95cfc5",
      "name": "Get Lead Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?select=*&id=eq.' + $json.lead_id + '&limit=1'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "8e4e29e7-4c18-4c2a-b63a-4831b157cc09",
      "name": "Fetch Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -450,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = Array.isArray($json.body)?$json.body[0]:$json.body?.[0]; return [{lead_id:lead.id, partner_id:lead.partner_id, full_name:lead.full_name, phone:lead.phone, email:lead.email}];"
      },
      "id": "912828f1-8b39-4c5a-b576-97890584aba7",
      "name": "Map Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/contacts'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$json.partner_id, lead_id:$json.lead_id, full_name:$json.full_name, phone:$json.phone, email:$json.email} }}"
      },
      "id": "c4e0d353-8077-471c-b3d1-4cecb3f7c2dc",
      "name": "Insert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?id=eq.' + $('Map Contact').item.json.lead_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status:'converted'} }}"
      },
      "id": "65a4801d-5f07-4237-b177-9d732b3c0926",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/lead_events'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {lead_id:$('Map Contact').item.json.lead_id, partner_id:$('Map Contact').item.json.partner_id, event_type:'lead_converted', payload:{workflow:'WF7'}} }}"
      },
      "id": "f54b8628-ee81-46f8-9d95-324fd6b2a5b0",
      "name": "Insert Lead Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/tasks'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$('Map Contact').item.json.partner_id, contact_id:(Array.isArray($json.body)?$json.body[0]:$json.body?.[0]).id, title:'Onboarding first follow-up', status:'todo'} }}"
      },
      "id": "27ba6d33-a93b-475f-aa72-4e52f4856910",
      "name": "Create Onboarding Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {ok:true, lead_id:$('Map Contact').item.json.lead_id} }}",
        "options": {}
      },
      "id": "094914aa-47ef-47a4-a7b2-565587f895b7",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Convert": {
      "main": [
        [
          {
            "node": "Get Lead Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Id": {
      "main": [
        [
          {
            "node": "Fetch Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lead": {
      "main": [
        [
          {
            "node": "Map Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Contact": {
      "main": [
        [
          {
            "node": "Insert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Contact": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Lead Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Onboarding Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead Event": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Onboarding Task": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "80cfddf9-be32-4030-bc6b-7ca4a8dbb981"
}