SYSTEM_V2_n8n_workflows_JSON/workflows/WF8_Daily_Analytics_Digest.json
{
  "name": "WF8 — Daily Analytics Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ],
          "cronExpression": "0 5 * * *"
        }
      },
      "id": "6bc93194-1868-4ef4-a41e-59c04de0b6cd",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?select=id,status,created_at&created_at=gte.' + new Date(new Date().setHours(0,0,0,0)).toISOString()}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "bf6b8ccb-8a82-4b68-aea7-3f03936cc32f",
      "name": "Fetch Metrics Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($json.body)?$json.body:[]; const qualified = rows.filter(r => r.status === 'qualified').length; const converted = rows.filter(r => r.status === 'converted').length; return [{metric_date:new Date().toISOString().slice(0,10), new_leads_count:rows.length, qualified_leads_count:qualified, converted_count:converted}];"
      },
      "id": "75eb16a3-dc01-439e-bf21-71ca855b3bb8",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/daily_metrics'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "ac81fdc2-a916-4c77-9367-bf109a0b1ea3",
      "name": "Insert Daily Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENAI_BASE_URL || 'https://api.openai.com/v1/chat/completions'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {model:$env.OPENAI_MODEL || 'gpt-4.1-mini', messages:[{role:'user', content:'Сделай короткую сводку дня по метрикам: ' + JSON.stringify($json)}] } }}"
      },
      "id": "3fd4d6d9-9988-4ca0-8d7c-fcce94ed0801",
      "name": "OpenAI Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_recommendations'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {target_type:'system', recommendation_type:'daily_digest', recommendation_payload:{text:$json.body?.choices?.[0]?.message?.content || ''}, confidence:0.6} }}"
      },
      "id": "7940f2e4-6261-45f4-aba3-68fd9a8e73e7",
      "name": "Save Digest Recommendation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        390,
        0
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Metrics Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrics Source": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Insert Daily Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Daily Metrics": {
      "main": [
        [
          {
            "node": "OpenAI Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Digest": {
      "main": [
        [
          {
            "node": "Save Digest Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "48c14ad9-b2a7-4758-9c9c-3dc8abb82fdb"
}