SYSTEM_V2_n8n_workflows_JSON/workflows/WF9_Outbound_Message_Dispatcher.json
{
  "name": "WF9 — Outbound Message Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "6905e1e0-c4b0-45b6-84a7-bd2fa85a0667",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/outbound_messages?select=*&status=eq.approved&limit=20'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "3d695b19-11d9-43e9-a75f-6180567bc9b8",
      "name": "Fetch Approved Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return (Array.isArray($json.body)?$json.body:[]).map(m => m);"
      },
      "id": "62f90a28-e3a9-4996-aeb4-23be0bcd2f83",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Здесь подключается реальный канал: WhatsApp / Telegram / Email\nreturn [{id:$json.id, dispatched_at:new Date().toISOString()}];"
      },
      "id": "f46669c1-a1bb-4c26-84bb-4f8ebaa36ac4",
      "name": "Dispatch Placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/outbound_messages?id=eq.' + $json.id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status:'sent', sent_at:$json.dispatched_at} }}"
      },
      "id": "cacadad8-4ed4-4c9a-a3a0-5027738e3921",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Approved Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Outbound": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Dispatch Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Placeholder": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "a3d6ecc7-8671-42db-945f-1aae3e24a5c3"
}